* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	max-width: 430px;
	margin: 0 auto;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
}

nav ul li:first-child {
	position: relative;
}
nav ul li:first-child::after {
	position: absolute;
	content: "";
	display: block; /* Đảm bảo đường kẻ hiện ra */
	border-bottom: 1px solid black;
	width: 100%;
}

header {
    position: sticky;
    top: 0px;
    width: 100%;
    max-width: 430px;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 10px 0;
}



.swiper-container {
	width: 100%;
	max-width: 600px; /* Định kích thước tối đa */
	overflow: hidden;
}

.swiper-slide img {
	width: 100%;
	cursor: pointer;
	object-fit: cover;
	height: 400px;
}

.swiper-button-next,
.swiper-button-prev {
	top: 50%;
}

.deal-button {
	background-color: #fff3f4;
	color: #ff0958;
	font-weight: bold;
	border: 1px solid #ff0958;
	border-radius: 5px;
	display: inline-block;
	padding: 8px 15px;
}
.deal-button i {
	margin-right: 5px;
	color: #ff0958;
}
.product-title {
	font-weight: bold;
	font-size: 1.2rem;
}
.product-subtitle {
	color: gray;
	font-size: 0.9rem;
}

.countdown-container {
	text-align: center;
	font-weight: bold;
	font-size: 1.2rem;
}
.countdown-box {
	display: inline-block;
	width: 60px;
	height: 55px;
	background-color: #666;
	color: white;
	text-align: center;
	font-size: 1.5rem;
	border-radius: 5px;
	margin: 5px;
}
.countdown-box span {
	display: block;
	font-size: 0.8rem;
	font-weight: normal;
	margin-top: -5px;
}

.order-form {
	max-width: 400px;
	margin: 20px auto;
	padding: 20px;
	background: white;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.order-form input,
.order-form textarea {
	font-size: 12px;
	padding: 10px 5px;
	border: 1px solid rgb(183, 183, 183);
	background-color: #f8f8f8;
}

.order-form input::placeholder,
.order-form textarea::placeholder {
	color: black;
}
.btn-order {
	background-color: #ff0066;
	color: white;
	font-weight: bold;
	font-size: 18px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	width: 100%;
}
.btn-order:hover {
	background-color: #e6005c;
}

.fixed-bottom-bar {
	z-index: 1000;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: white;
	padding: 5px 0;
	max-width: 430px;
}

.fixed-bottom-bar i {
	font-size: 1.27rem;
}

body.modal-open {
	padding-right: 0 !important;
}

@media(max-width: 768px){
	
}
