* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* html,
body {
    overflow-x: hidden;
    max-width: 100%;
}

body {
    font-size: 12px;
    max-width: 430px;
    width: 100%;
    min-height: 100vh;
} */

html,
body {
    overflow-x: hidden;
    max-width: 100%;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    margin-top: 95px;
    margin-bottom: 55px;
    font-size: 16px;
}
.container {
    margin: 0;
    padding: 0;
    max-width: 430px;
    width: 100%;
}

nav ul li:first-child {
    position: relative;
}
nav ul li:first-child::after {
    position: absolute;
    content: "";
    display: block; /* Đảm bảo đường kẻ hiện ra */
    border-bottom: 1px solid black;
    width: 100%;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    max-width: 430px;
    z-index: 1000;
    background-color: #fff;
    padding: 10px 0;
}

.swiper-container {
    width: 100%;
    max-width: 600px; /* Định kích thước tối đa */
    overflow: hidden;
}

.swiper-slide img {
    width: 100%;
    cursor: pointer;
    object-fit: cover;
    height: 400px;
}

.swiper-button-next,
.swiper-button-prev {
    top: 50%;
}

.deal-button {
    background-color: #fff3f4;
    color: #ff0958;
    font-weight: bold;
    border: 1px solid #ff0958;
    border-radius: 5px;
    display: inline-block;
    padding: 8px 15px;
}
.deal-button i {
    margin-right: 5px;
    color: #ff0958;
}
.product-title {
    font-weight: bold;
    font-size: 1.2rem;
}
.product-subtitle {
    color: gray;
    font-size: 0.9rem;
}

.countdown-container {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}
.countdown-box {
    display: inline-block;
    width: 60px;
    height: 55px;
    background-color: #666;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 5px;
    margin: 5px;
}
.countdown-box span {
    display: block;
    font-size: 0.8rem;
    font-weight: normal;
    margin-top: -5px;
}

.order-form {
    max-width: 400px;
    margin: 20px 0;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.order-form input,
.order-form textarea {
    font-size: 12px;
    padding: 10px 5px;
    border: 1px solid rgb(183, 183, 183);
    background-color: #f8f8f8;
}

.order-form input::placeholder,
.order-form textarea::placeholder {
    color: black;
}
.btn-order {
    background-color: #ff0066;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
}
.btn-order:hover {
    background-color: #e6005c;
}

.fixed-bottom-bar {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    padding: 10px;
    max-width: 430px;
}

.fixed-bottom-bar i {
    font-size: 1.27rem;
}

body.modal-open {
    padding-right: 0 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    text-align: center;
    font-size: inherit;
    color: rgb(176, 176, 176);
}

@media (max-width: 430px) {
    a,
    p,
    span,
    h3,
    button {
        font-size: 12px !important;
    }
    label {
        font-size: 11px !important;
    }
    #support span {
        font-size: 9px !important;
    }

    .col-4.d-flex.align-items-center svg {
        width: 15px;
        height: 15px;
    }

    .position-relative.border-bottom.pb-3 .mb-0.px-2 {
        padding-top: 11px !important;
    }

    .d-flex.justify-content-between.align-items-center .fw-bold.text-muted {
        font-size: 9px !important;
    }

    svg {
        width: 18px;
        height: 18px;
    }

    .bg-light.text-center.rounded-circle {
        padding: 12px 0 !important;
    }
    .countdown-box {
        width: 55px;
        height: 50px;
    }
    /* .btn.btn-outline-danger.me-2.fw-bold.py-0.px-4 {
        padding: 5px 10px !important;
    } */

    .position-absolute.top-0.translate-middle.badge.rounded-pill.bg-danger.px-1 {
        right: 20px !important;
    }

    div.mb-0.fw-bold,
    div.text-light.fw-bold {
        font-size: 1rem !important;
    }

    .d-flex.position-absolute.justify-content-center.align-items-center.gap-1.py-2.ps-3.z-1 {
        left: 100px !important;
    }
}

@media (max-width: 400px) {
    .btn.btn-outline-danger.me-2.fw-bold.py-0.px-4 {
        padding: 5px 35px !important;
    }
}


@media (max-width: 350px) {
    .btn.btn-outline-danger.me-2.fw-bold.py-0.px-4 {
        padding: 5px 10px !important;
    }
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}
